code/wsdl2plsql/src/test/resources/sample-service.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.oracle-base.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.oracle-base.com/webservices/">
<types>
<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle-base.com/webservices/">
  <xs:element name="ws_addRequestType" type="tns:ws_addResponseType" />
  <xs:element name="ws_addResponseType" type="tns:ws_addResponseType" />
  <xs:complexType name="ws_addRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="int1" type="xs:short"/>
      <xs:element minOccurs="1" maxOccurs="1" name="int2" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ws_addResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="int1" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
</xsd:schema>
</types>
<message name="ws_addRequest">
  <part element="tns:ws_addRequestType" name="parameters" />
</message>
<message name="ws_addResponse">
  <part element="tns:ws_addResponseType" name="parameters" />
</message>
<portType name="CalculatorPortType">
  <operation name="ws_add">
    <input message="tns:ws_addRequest" name="tns:ws_addRequest" />
    <output message="tns:ws_addResponse" name="tns:ws_addResponse"/>
  </operation>
</portType>
<binding name="CalculatorBinding" type="tns:CalculatorPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ws_add">
    <soap:operation soapAction="https://oracle-base.com/webservices/server.php/ws_add" style="document"/>
    <input><soap:body use="literal" /></input>
    <output><soap:body use="literal" /></output>
  </operation>
</binding>
<service name="Calculator">
  <port name="CalculatorPort" binding="tns:CalculatorBinding">
    <soap:address location="https://oracle-base.com:443/webservices/server.php"/>
  </port>
</service>
</definitions> 

